.nav-link:hover {
    background-color: #8FAE93;
    /*border-left: 1px solid darkgrey;*/
    /*border-right: 1px solid darkgrey;*/
}

.btn-primary {
    background-color: #6D152B;
    border-color: #6D152B;
}

.btn-primary:hover {
    background-color: #6D152B;
    border-color: #6D152B;
    filter: brightness(80%);
}

.btn-primary:focus {
    background-color: #6D152B;
    border-color: #6D152B;
}

